.App {
  text-align: center;
}

.mainBackground{
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url("images/randomBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.pageContainer{
  margin: 0;
  padding-top:80px;
}


.infoArea{
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-flow: column;
}