.App {
  text-align: center;
}

.mainBackground{
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url("images/splash.jpg");
  background-attachment: fixed;
}

.pageContainer{
  margin: 0;
}


.infoArea{
  margin: 0;
  background-color: rgba(16, 16, 17, 0.6) !important;
  height: 85vh;
  width: 100%;
}