.App {
  text-align: center;
}

.mainBackground{
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("images/randomBackground.jpg");
  background-attachment: fixed;
}

.pageContainer{
  margin: 0;
}