#contactInformation{
    background: rgba(0, 0, 0, 0.6);
    margin-top: 50px;
    padding: 20px;
    min-height: 40vh;
}

#contactHeader{
    border-bottom: 1px solid cyan;
    width: 80%;
    margin: 0 auto;
}
.contactLinks{
    font-size: 20px;
}