.flexAdjust{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
}
.techArea{
    padding-top: 20px;
    color: #fff;
    background-color: rgb(0,0,0,0.6);
    margin-bottom: 30px;
}
.techText{
    max-width: 45%;
    text-align: left;
}
.listText{
    margin-left: 20px;
    font-size: 30px;
}
h1.bioHeader{
    color: #fff;
    padding-bottom: 10px;
    margin: 20px auto 30px;
    border-bottom: 3px solid #fff;
    width: 60%;
    font-size: 48px;
}

.techIconContainer{
    display: flex;
    flex-flow: column;
}

.hexes{
    display: flex;
    flex-flow: row wrap;
}

.techIcon{
    position: relative;
    height: 120%;
    z-index: 3;
}

div.hexagon{
    margin-left: 10px;
    margin-right: 10px;
}
.hexagon {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #000000;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    border-left: solid 5px #ffffff;
    border-right: solid 5px #ffffff;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 70.71px;
    height: 70.71px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 9.6447px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .hexagon:before {
    top: -35.3553px;
    border-top: solid 7.0711px #ffffff;
    border-right: solid 7.0711px #ffffff;
  }
  
  .hexagon:after {
    bottom: -35.3553px;
    border-bottom: solid 7.0711px #ffffff;
    border-left: solid 7.0711px #ffffff;
  }

@media screen and (max-width: 600px){
    h1.bioHeader{
        color: #fff;
        padding-bottom: 10px;
        margin: 20px auto 30px;
        width: 90%;
        font-size: 24px;
    }
    .techContainer{
        display: flex;
        flex-flow: column;
    }
    .flexAdjust{
        display: flex;
        flex-flow: column-reverse;
    }
    .techText{
        max-width: 100%;
        text-align: center;
        font-size: 24px;
    }
}