/* final phrase anims */
@media screen and (max-width: 740px){
    #wordScramble{
        position: relative;
        top: 50px;
        font-size: 18px;
        width: 99vw;
    }
    
    
#my{
    animation-name: my;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes my{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 32%;
        top: -160%;
        font-size: 48px;
    }
}
#n{
    animation-name: n;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes n{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 15%;
        top: -160%;
        font-size: 48px;
    }

}
#firstA{
    animation-name: firstA;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes firstA{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: -28%;
        top: -160%;
        font-size: 48px;
    }
}
#me{
    animation-name: me;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes me{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: -50%;
        top: -160%;
        font-size: 48px;
    }

}
#i{
    animation-name: i;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes i{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 128%;
        top: -160%;
        font-size: 48px;
    }

}
#s{
    animation-name: s;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes s{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 30%;
        top: -160%;
        font-size: 48px;
    }

}
#secondA{
    animation-name: secondA;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes secondA{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 30%;
        top: -160%;
        font-size: 48px;
    }

}
#L{
    animation-name: L;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes L{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 23%;
        top: -160%;
        font-size: 48px;
    }

}
#ex{
    animation-name: ex;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes ex{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 10%;
        top: -160%;
        font-size: 48px;
    }

}
}
@media screen and (max-width: 680px){
    #wordScramble{
        position: relative;
        top: 100px;
        font-size: 18px;
        width: 80vw;
        padding-right: 190px;
        margin-left: 59px;
    }
}
@media screen and (max-width: 580px){
    #wordScramble{
        position: relative;
        top: 100px;
        font-size: 18px;
        width: 80vw;
    }
}
@media screen and (max-width: 480px){
    #wordScramble{
        position: relative;
        top: 100px;
        font-size: 18px;
        width: 90vw;
        padding-right: 90px;
        margin-left: 60px;
    }
    
    
#my{
    animation-name: my;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes my{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 32%;
        top: -160%;
        font-size: 48px;
    }
}
#n{
    animation-name: n;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes n{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 15%;
        top: -160%;
        font-size: 48px;
    }

}
#firstA{
    animation-name: firstA;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes firstA{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: -28%;
        top: -160%;
        font-size: 48px;
    }
}
#me{
    animation-name: me;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes me{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: -50%;
        top: -160%;
        font-size: 48px;
    }

}
#i{
    animation-name: i;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes i{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 128%;
        top: -160%;
        font-size: 48px;
    }

}
#s{
    animation-name: s;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes s{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 30%;
        top: -160%;
        font-size: 48px;
    }

}
#secondA{
    animation-name: secondA;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes secondA{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 30%;
        top: -160%;
        font-size: 48px;
    }

}
#L{
    animation-name: L;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes L{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 23%;
        top: -160%;
        font-size: 48px;
    }

}
#ex{
    animation-name: ex;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes ex{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 10%;
        top: -160%;
        font-size: 48px;
    }

}
}
@media screen and (max-width: 400px){
    #wordScramble{
        position: relative;
        top: 80px;
        font-size: 18px;
        width: 98vw;
        padding-right: 50px;
        margin-left: 15px;
    }
    
    
#my{
    animation-name: my;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes my{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 32%;
        top: -160%;
        font-size: 48px;
    }
}
#n{
    animation-name: n;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes n{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 15%;
        top: -160%;
        font-size: 48px;
    }

}
#firstA{
    animation-name: firstA;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes firstA{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: -28%;
        top: -160%;
        font-size: 48px;
    }
}
#me{
    animation-name: me;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes me{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: -50%;
        top: -160%;
        font-size: 48px;
    }

}
#i{
    animation-name: i;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes i{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 128%;
        top: -160%;
        font-size: 48px;
    }

}
#s{
    animation-name: s;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes s{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 30%;
        top: -160%;
        font-size: 48px;
    }

}
#secondA{
    animation-name: secondA;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes secondA{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 30%;
        top: -160%;
        font-size: 48px;
    }

}
#L{
    animation-name: L;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes L{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 23%;
        top: -160%;
        font-size: 48px;
    }

}
#ex{
    animation-name: ex;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes ex{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 10%;
        top: -160%;
        font-size: 48px;
    }

}
}
@media screen and (max-width: 360px){
    #wordScramble{
        position: relative;
        top: 80px;
        font-size: 18px;
        width: 99vw;
        margin-left: -5%;
        padding-right: 0px;
    }
    
    
#my{
    animation-name: my;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes my{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 32%;
        top: -160%;
        font-size: 48px;
    }
}
#n{
    animation-name: n;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes n{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 15%;
        top: -160%;
        font-size: 48px;
    }

}
#firstA{
    animation-name: firstA;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes firstA{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: -28%;
        top: -160%;
        font-size: 48px;
    }
}
#me{
    animation-name: me;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes me{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: -50%;
        top: -160%;
        font-size: 48px;
    }

}
#i{
    animation-name: i;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes i{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 128%;
        top: -160%;
        font-size: 48px;
    }

}
#s{
    animation-name: s;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes s{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 30%;
        top: -160%;
        font-size: 48px;
    }

}
#secondA{
    animation-name: secondA;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes secondA{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 30%;
        top: -160%;
        font-size: 48px;
    }

}
#L{
    animation-name: L;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes L{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 23%;
        top: -160%;
        font-size: 48px;
    }

}
#ex{
    animation-name: ex;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}

@keyframes ex{
    0%{
        position: relative;
        left: 0;
        top: 0;
    }
    100%{ 
        position: relative;
        left: 10%;
        top: -160%;
        font-size: 48px;
    }

}

}
