.navFixed{
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to top left, black, #444444);
    z-index: 100;
}

.navFlexAdjust{
    display: flex;
    justify-content: space-around;
}
.logo {
    height: 48px;
}

a{
    color:#fff !important;
    cursor: pointer;
    font-weight: bolder;
}

.navbar-nav{
    margin: 0 auto;
}

.icon{
    height: 50px;
}

.active{
    transform: scale(1.5);
    text-decoration: underline solid;
}
.deactive{
    transition: all 200ms ease;
}
.deactive:hover{
    transform: scale(1.5) !important;
}

.hr-3{
    color: #04abcc;
}

@media screen and (max-width: 768px){
    .nav-item{
        text-align: center;
    }
}