.logo {
    height: 64px;
}

a{
    color:white !important;
    cursor: pointer;
}

.navbar-nav{
    margin: 0 auto;
}

.icon{
    height: 50px;
}

.active{
    color:blue !important;
}
.deactive:hover{
    transform: scale(2.0) !important;
}

@media only screen and (min-width: 600px) {
    .pushIt {
        margin-left: 30px;
        margin-right: 30px;
    }
}