.navFixed{
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to top left, black, #444444);
    z-index: 100;
}
.logo {
    height: 56px;
}

a{
    color:#fff !important;
    cursor: pointer;
    font-weight: bolder;
}

.navbar-nav{
    margin: 0 auto;
}

.icon{
    height: 50px;
}

.active{
    transform: scale(1.5);
    text-decoration: underline solid;
}
.deactive{
    transition: all 200ms ease;
}
.deactive:hover{
    transform: scale(1.5) !important;
}

.hr-3{
    color: #04abcc;
}

@media only screen and (min-width: 600px) {
    .pushIt {
        margin-left: 30px;
        margin-right: 20px;
    }
    .pushLogo{
        margin-left:15px;
        margin-right:80px;
    }
}